body, html {
	width: 100%;
	font-family: monospace;
}

.boldText {
	font-weight: bold !important;
}

.colorCols {
	height: 10vh; 
	display: inline-block;
}
/* 
https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider
https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/
*/